.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: 100%;
}

.card p {
  opacity: #707070;
}

@media (max-width: 768px) {
  .card h3 {
    font-size: 10px;
    font-weight: lighter;
  }

  .card p {
    font-size: 9px;
  }
}
/* Medium */
@media (max-width: 992px) {
  .card h3 {
    font-size: 15px;
  }

  .card p {
    font-size: 13px;
  }
}
